<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ metadata }}
    <title>{{ page.title }}</title>
    {% style _themes/css/ccb5d95bcacbe45c0f4d.restapi.css %}
  </head>
  <body>

    {% include header.html %}

    <div class="reference">
      <!-- Toc -->
      <div id="sidebar" class="reference-toc" ms.cmpgrp="intopic toc">
          <nav class="navigation"></nav>
      </div>

      <!-- Content -->
      <div class="reference-body-outer">
        <div id="main" class="reference-body" ms.pgarea="body">
            <article id="main-content" class="reference-content">
                {{ content }}
            </article>
        </div>
      </div>
    </div>

    <div id="openFeedbackContainer" class="openfeedback-container footer-layout"></div>
    {% include footer.html %}
    {% js _themes/javascript/ccb5d95bcacbe45c0f4d.rest.js %}
  </body>
</html>
