<footer id="footer" ms.pgarea="footer" class="footer-layout">
  <div class="container">
    <a href="https://docs.microsoft.com/" class="logo">{% img _themes/images/logo-ms.png Microsoft %}</a>
    <ul class="links" ms.cmpgrp="footer link">
      <li><a href="//privacy.microsoft.com/en-US/">{% loc privacy.statement %}</a></li>
      <li><a href="//www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx">{% loc terms.of.use %}</a></li>
      <li id="impressum-section"><a id="impressum-link" href="#">{% loc impressum.text %}</a></li>
      <li><a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx">{% loc trademarks %}</a></li>
    </ul>
  </div>
</footer>