<header id="header" ms.pgarea="header">
    <div id="cookie-consent-section" class="banner">
        <div class="row">
            <div class="left">{% loc cookie.consent.europe %}</div>
            <div class="middle"><a id="privacystatement-link" tabindex="1" href="#">{% loc readmore %}</a></div>
            <div class="right"><a tabindex="1" title="{% loc close %}"></a></div>
        </div>
    </div>
  <div id="common-nav-placeholder">
    <div class="container">
      <a href="https://docs.microsoft.com/"><h3>{% loc microsoft %}</h3></a>
      <div class="lang-picker lang-hover"><span class="selected-lang"></span><i class="arrow"></i></div>
      <div class="lang-list lang-hover" style="display:none;">
         <div class="three-column-container">
             <div class="three-column-inner">
                 <div class="three-column-1" >
                     <ul></ul>
                 </div>
                 <div class="three-column-2">
                     <ul></ul>
                 </div>
                 <div class="three-column-3" >
                     <ul></ul>
                 </div>
             </div>
         </div>
         <div class="two-column-container" >
             <div class="two-column-1">
                 <ul></ul>
             </div>
             <div class="two-column-2">
                 <ul></ul>
             </div>
         </div>
      </div>
    </div>
  </div>
  <div id="sub-header" class="container" ms.cmpgrp="breadcrumb">
    <ul class="breadcrumbs"></ul>
  </div>
</header>