<header id="header" ms.pgarea="header">
  <div id="common-nav-placeholder">
    <div class="container">
      <a href="https://www.microsoft.com"><h3>{% loc microsoft %}</h3></a>
      <h5></h5>
    </div>
  </div>
<div id="sub-header" class="container" ms.cmpgrp="breadcrumb">
    <ul class="breadcrumbs"></ul>
  </div>
</header>